
Game Project 1/ProjectSettings/EditorBuildSettings.asset
Game Project 1/ProjectSettings/EditorBuildSettings.asset
Game Project 1/UserSettings/EditorUserSettings.asset
Game Project 1/UserSettings/EditorUserSettings.asset
Game Project 1/UserSettings/EditorUserSettings.asset
Game Project 1/UserSettings/EditorUserSettings.asset
Game Project 1/UserSettings/Layouts/default-2021.dwlt
Game Project 1/fmod_editor.log
